<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.courage.rocketmq4.domain.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.courage.rocketmq4.domain.po.OrderPO">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="order_status" property="orderStatus" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <insert id="insert" parameterType="com.courage.rocketmq4.domain.po.OrderPO">
        INSERT INTO t_order (id, user_id, order_status, create_time, update_time)
        VALUES (#{id}, #{userId}, #{orderStatus}, #{createTime}, #{updateTime})
    </insert>

    <select id="getById" resultMap="BaseResultMap" parameterType="Long">
        SELECT id, user_id, order_status, create_time, update_time
        FROM t_order
        WHERE id = #{id}
    </select>

    <update id="update" parameterType="com.courage.rocketmq4.domain.po.OrderPO">
        UPDATE t_order
        SET order_status = #{orderStatus}, update_time = #{updateTime}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="Long">
        DELETE FROM t_order
        WHERE id = #{id}
    </delete>

</mapper>